<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
		
<form action="../view/Profile.php">
    <input type="submit" value="Profile" />
</form>
<br>
<form action="../view/UpdatePassword.php">
    <input type="submit" value="Update password" />
</form>
<br>

<form action="../view/Remove.php">
    <input type="submit" value="Remove a customer" />
</form>
<br>

<form action="../view/CustomerDetails.php">
    <input type="submit" value="Customer details" />
</form>
<br>

<form action="../view/sellerlist.php">
    <input type="submit" value="Borrower details" />
</form>
<br>

<form action="../view/CustomerHistory.php">
    <input type="submit" value="Transaction history" />
</form>
<br>

<form action="../view/Postcomplain.php">
    <input type="submit" value="Complaints" />
</form>
<br>



<form action="../controller/Logout.php">
    <input type="submit" value="Logout" />
</form>
<br>

</body>
</html>